/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* by default, images are inline elements and a gap forms around them */
/* to remove the gap we convert them to block-level elements */
/* in case we reset them to be inline, the alignment will also remove the gap */
img, svg, video, canvas, audio, iframe, embed, object  {
	display: block;
	vertical-align: middle;
}

/* by default, buttons do not inherit font style, they have their own */
/* Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
}

